{% extends "base/base.html" %}
{% load static %}

{% block content %}
<div class="ltn__utilize-overlay"></div>

<!-- BREADCRUMB AREA START -->
<div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image "  data-bs-bg="img/bg/14.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__breadcrumb-inner">
                    <h1 class="page-title">Shipping and Delivery Policy</h1>
                    <div class="ltn__breadcrumb-list">
                        <ul>
                            <li><a href="index.html"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                            <li>Shipping and Delivery Policy</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- BREADCRUMB AREA END -->

<!-- SHIPPING AND DELIVERY POLICY AREA START -->
<div class="liton__shop-details-area pb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3>Shipping and Delivery Policy</h3>
                <p>This Shipping & Delivery Policy is part of our Terms and Conditions ("Terms") and should be therefore read alongside our main Terms: https://MICROWHITE/terms-and-conditions.</p>
                <p>Please carefully review our Shipping & Delivery Policy when purchasing our products. This policy will apply to any order you place with us.</p>

                <h5>What are my shipping & delivery options?</h5>
                <p>We offer various shipping options. In some cases a third-party supplier may be managing our inventory and will be responsible for shipping your products.</p>

                <h5>Free Shipping</h5>
                <p>We offer free standard shipping on all orders.</p>

                <h5>Expedited Shipping Fees</h5>
                <p>We also offer expedited shipping at the following rates:</p>
                <ul>
                    <li>Standard: 3-5 business days - Free</li>
                    <li>Express: 1-2 business days - ₹50</li>
                </ul>
                <p>If you select an expedited shipping option, we will follow up after you have placed the order with any additional shipping information.</p>
                <p>All times and dates given for delivery of the products are given in good faith but are estimates only.</p>

                <h5>Do you deliver internationally?</h5>
                <p>We do not offer international shipping.</p>

                <h5>What happens if my order is delayed?</h5>
                <p>If delivery is delayed for any reason we will let you know as soon as possible and will advise you of a revised estimated date for delivery.</p>

                <h5>Questions about returns?</h5>
                <p>If you have questions about returns, please review our Return Policy: https://MICROWHITE/refund-and-cancellation-policy.</p>

                <h5>How can you contact us about this policy?</h5>
                <p>If you have any further questions or comments, you may contact us by:</p>
                <ul>
                    <li>Phone: 123-456-7890</li>
                    <li>Email: contact@MICROWHITE</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- SHIPPING AND DELIVERY POLICY AREA END -->

{% endblock %}
