{% extends "base/base.html" %}
{% load static %}
{% load custom_filters %}
{% block content %}



    <!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image "  data-bs-bg="img/bg/14.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title">My Account</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="/"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                                <li>My Account</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- WISHLIST AREA START -->
    <div class="liton__wishlist-area pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- PRODUCT TAB AREA START -->
                    <div class="ltn__product-tab-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="ltn__tab-menu-list mb-50">
                                        <div class="nav">
                                            <a class="active show" data-bs-toggle="tab" href="#liton_tab_1_1">Dashboard <i class="fas fa-home"></i></a>
                                            <a data-bs-toggle="tab" href="#liton_tab_1_2">Orders <i class="fas fa-file-alt"></i></a>
                                            <a data-bs-toggle="tab" href="#liton_tab_1_3">Invoices <i class="fas fa-arrow-down"></i></a>
                                            <a data-bs-toggle="tab" href="#liton_tab_1_4">address <i class="fas fa-map-marker-alt"></i></a>
                                            <a data-bs-toggle="tab" href="#liton_tab_1_5">Account Details <i class="fas fa-user"></i></a>
                                            <a href="{% url 'account_logout' %}">Logout <i class="fas fa-sign-out-alt"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="tab-content">
                                        <div class="tab-pane fade active show" id="liton_tab_1_1">
                                            <div class="ltn__myaccount-tab-content-inner">
                                                <p>Hello <strong>{{user.username}}</strong> (not <strong>{{user.username}}</strong>? <small><a href="{% url 'account_logout' %}">Log out</a></small> )</p>
                                                <p>From your account dashboard you can view your <span>recent orders</span>, manage your <span>shipping and billing addresses</span>, and <span>edit your password and account details</span>.</p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="liton_tab_1_2">
                                            <div class="ltn__myaccount-tab-content-inner">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Order</th>
                                                                <th>Date</th>
                                                                <th>Status</th>
                                                                <th>Total</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for order in orders %}
                                                            <tr>
                                                                <td>{{ order.pk }}</td>
                                                                <td>{{ order.created_at }}</td>
                                                                <td>{{ order.status }}</td>
                                                                <td>${{order.get_total_price}}</td>
                                                                <td><a href="{% url 'order_confirmation' order.pk %}">View</a></td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="liton_tab_1_3">
                                            <div class="ltn__myaccount-tab-content-inner">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Invoice</th>
                                                                <th>Date</th>
                                                                <th>Total</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
{% if orders %}
    {% for order in orders %}
        <tr>
            <td>{{ order.get_invoice_number }}</td>
            <td>{{ order.created_at }}</td>
            <td>${{ order.get_total_price }}</td>
            <td><a href="{% url 'invoice' order.pk %}">View</a></td>
        </tr>
    {% endfor %}
{% else %}
    <tr>
        <td colspan="4">No orders available.</td>
    </tr>
{% endif %}

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="liton_tab_1_4">
                                            <div class="ltn__myaccount-tab-content-inner">
                                                <p>The following addresses will be used on the checkout page by default.</p>
                                                <div class="row">
                                                    {% for address in addresses %}
                                                    <div class="col-md-6 col-12 learts-mb-30">
                                                        <h4>Address {{ forloop.counter }}
                                                            {% if address.default %}
                                                                <span class="badge bg-success">Default Address</span>
                                                            {% endif %}
                                                            <small><a href="{% url 'edit_address' address.id %}">edit</a></small>
                                                        </h4>
                                                        <address>
                                                            <p><strong>{{address.first_name}} {{address.last_name}}</strong></p>
                                                            <p>{{address.address_line_1}}, {{address.city}}, {{address.state}}, {{address.country}}, {{address.zipcode}}</p>
                                                            <p>Mobile: {{address.phone}}</p>
                                                        </address>
                                                        <a href="{% url 'delete_address' address.id %}" class="btn theme-btn-1 btn-effect-1 text-uppercase">Delete</a>
                                                        {% if not address.default %}
                                                        <a href="{% url 'set_default_address' address.id %}" class="btn theme-btn-1 btn-effect-1 text-uppercase">Set as Default</a>
                                                        {% endif %}
                                                    </div>
                                                    {% empty %}
                                                    <div class="col-12">
                                                        <p>No addresses found. Please add your first address below.</p>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                                <hr>
                                                <h4>Add a new address</h4>
                                                <div class="ltn__form-box">
                                                    <form action="{% url 'add_address' %}" method="post">
                                                        {% csrf_token %}
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="{{ address_form.first_name.id_for_label }}">First Name:</label>
                                                                    {{ address_form.first_name }}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="{{ address_form.last_name.id_for_label }}">Last Name:</label>
                                                                    {{ address_form.last_name }}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="{{ address_form.email.id_for_label }}">Email:</label>
                                                                    {{ address_form.email }}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label for="{{ address_form.phone.id_for_label }}">Phone:</label>
                                                                    {{ address_form.phone }}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="{{ address_form.country.id_for_label }}">Country:</label>
                                                                <div class="input-item">
                                                                    {{ address_form.country|add_class:"custom-dropdown custom-country-dropdown" }}
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <h6>Address</h6>
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            {{ address_form.address_line_1 }}
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            {{ address_form.address_line_2 }}
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6">
                                                                <h6>Town / City</h6>
                                                                <div class="form-group">
                                                                    {{ address_form.city }}
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6">
                                                                <h6>State</h6>
                                                                <div class="form-group">
                                                                    {{ address_form.state }}
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4 col-md-6">
                                                                <h6>Zip</h6>
                                                                <div class="form-group">
                                                                    {{ address_form.zipcode }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="btn-wrapper">
                                                            <button type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase">Save Address</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="liton_tab_1_5">
                                            <div class="ltn__myaccount-tab-content-inner">
                                                <p>The following addresses will be used on the checkout page by default.</p>
                                                <div class="ltn__form-box">
                                                    <form action="{% url 'user_profile' %}" method="post">
                                                        {% csrf_token %}
                                                        <div class="row mb-50">
                                                            <div class="col-md-6">
                                                                <label>First name:</label>
                                                                {{ user_form.first_name }}
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Last name:</label>
                                                                {{ user_form.last_name }}
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Display Name:</label>
                                                                {{ profile_form.name }}
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label>Display Email:</label>
                                                                {{ user_form.email }}
                                                            </div>
                                                        </div>
                                                        <fieldset>
                                                            <legend>Password change</legend>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <label>Current password (leave blank to leave unchanged):</label>
                                                                    <input type="password" name="current_password">
                                                                    <label>New password (leave blank to leave unchanged):</label>
                                                                    <input type="password" name="new_password">
                                                                    <label>Confirm new password:</label>
                                                                    <input type="password" name="confirm_password">
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <div class="btn-wrapper">
                                                            <button type="submit" class="btn theme-btn-1 btn-effect-1 text-uppercase">Save Changes</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PRODUCT TAB AREA END -->
                </div>
            </div>
        </div>
    </div>
    <!-- WISHLIST AREA START -->

    <!-- CALL TO ACTION START (call-to-action-6) -->
    <div class="ltn__call-to-action-area call-to-action-6 before-bg-bottom" data-bs-bg="img/1.jpg--">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="call-to-action-inner call-to-action-inner-6 ltn__secondary-bg position-relative text-center---">
                        <div class="coll-to-info text-color-white">
                            <h1>Buy medical disposable face mask <br> to protect your loved ones</h1>
                        </div>
                        <div class="btn-wrapper">
                            <a class="btn btn-effect-3 btn-white" href="/shop">Explore Products <i class="icon-next"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CALL TO ACTION END -->
    {% endblock %}